Package: {{ pkg }}
Source: audiobible-shmueloff-source
Version: {{ version }}
Architecture: all
Maintainer: {{ maintainer }}
Installed-Size: {{ size_kb }}
Section: sound
Priority: optional
Description: {{ description }}
